<ion-content [fullscreen]="true" class="main-backgroud">
    <div class="container">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                    <h1 class="title">Rio Refugees</h1>
                    <hr>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="{{'documento' | transloco}}" (click)="navigateTo('documents')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="{{'abrigo' | transloco}}" (click)="navigateTo('shelter')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="{{'emprego' | transloco}}" (click)="navigateTo('jobs')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="{{'emergencia' | transloco}}" (click)="navigateTo('emergency')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="{{'comunidade' | transloco}}" (click)="navigateTo('communities')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="{{'restaurante' | transloco}}" (click)="navigateTo('restaurants')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="{{'assistenciajuridia' | transloco}}" (click)="navigateTo('legal-assistance')">
                    </app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="{{'educacao' | transloco}}" (click)="navigateTo('education')">
                    </app-custom-button>
                </ion-col>
            </ion-row>
           
        </ion-grid>
        
    </div>

    <ion-row class="dashboard">
        <ion-col size="10">
            <ion-button color="primary" (click)="navigateTo('dashboard')">Dashboard</ion-button>
        </ion-col>
    </ion-row>
</ion-content>