<ion-content [fullscreen]="true">
    <div class="container">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                    <h1 class="title">Rio Refugees</h1>
                    <hr>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="Documentos" (click)="navigateTo('documents')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="Abrigos" (click)="navigateTo('shelter')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="Empregos" (click)="navigateTo('jobs')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="Emergência" (click)="navigateTo('emergency')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="5">
                    <app-custom-button title="Comunidade" (click)="navigateTo('communities')"></app-custom-button>
                </ion-col>
                <ion-col size="5">
                    <app-custom-button title="Restaurante" (click)="navigateTo('restaurants')"></app-custom-button>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                    <app-custom-button title="Assistência jurídica" (click)="navigateTo('legal-assistance')">
                    </app-custom-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>