<ion-header>
    <ion-toolbar>
        <ion-title>Abrigos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="Abrigos públicos" hasMap="true"
                    linkMap="https://www.google.com/maps/search/rep%C3%BAblicas+no+rio+de+janeiro/@-22.9367772,-43.5368717,11z/data=!3m1!4b1">
                    Identidade para os refugiados e solicitantes de refúgio, prova a situação legal no país e dá direito
                    a
                    expedição da CTPS. É emitido pela Polícia Federal.
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Repúblicas" hasMap="true"
                    linkMap="https://www.google.com/maps/search/rep%C3%BAblicas+no+rio+de+janeiro/@-22.9367772,-43.5368717,11z/data=!3m1!4b1">
                    Voltada ao povo que saiu das unidades de acolhimento e das ruas
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Defensoria pública da união" hasMap="true"
                    linkMap="https://www.google.com/maps/search/defensoria+publica+da+uniao+rio+de+janeiro/@-22.1859146,-44.3825309,13.33z">
                    Garante o direito a moradia digna e representa os cidadãos de baixa renda em assuntos relacionados a
                    moradia
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Defesa civil" hasMap="true"
                    linkMap="https://www.google.com/maps/search/defesa+civil+rio+de+janeiro/@-22.8534982,-43.3460266,12z/data=!3m1!4b1">
                    Prevenção de desastres e ações de assistências
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Minha casa, minha vida" hasMap="true"
                    linkMap="https://www.google.com/maps/search/minha+casa+minha+vida+rio+de+janeir/@-22.8534675,-43.3460267,12z/data=!3m1!4b1">
                    Programa de habitação popular
                </app-section-information>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>