<ion-header>
    <ion-toolbar>
        <ion-title>Assistência jurídica</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="Alto comissariado das Nações Unidas para Refugiados">
                    <app-custom-link textLink="O ACNUR atua em cooperação com a Conare e em coordenação com os governos federal, estaduais e
                    municipais, além de outras instâncias do Poder público." url="https://www.acnur.org/">
                    </app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="CARITAS">
                    <app-custom-link textLink="Presta serviço de acolhimento e integração de refugiados e imigrantes."
                        url="http://caritas.org.br/"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="CONARE (Comitê Nacional Para Refugiados)">
                    <app-custom-link textLink="Decide e revisa as solicitações de refúgio no Brasil."
                        url="https://www.justica.gov.br/seus-direitos/refugio/conare"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Coordenação Geral de imigração">
                    <app-custom-link textLink="Regula o trabalho de imigrantes no país."
                        url="https://portaldeimigracao.mj.gov.br/pt/informacoes-gerais"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Migrante Web">
                    <app-custom-link textLink="Facilita o pedido de autorização de trabalho a migrantes onine."
                        url="https://portaldeimigracao.mj.gov.br/pt/migranteweb"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>