<ion-header>
    <ion-toolbar>
        <ion-title>Assistência jurídica</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-grid>


            <ion-row>
                <ion-col>
                    <h1 class="title">Alto comissariado das Nações Unidas para Refugiados </h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    o ACNUR atua em cooperação com a Conare e em coordenação com os governos federal, estaduais e
                    municipais, além de outras instâncias do Poder público. https://www.acnur.org/
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h1 class="title">CARITAS</h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    Presta serviço de acolhimento e integração de refugiados e imigrantes. http://caritas.org.br/
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h1 class="title">CONARE (Comitê Nacional Para Refugiados)</h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    Decide e revisa as solicitações de refúgio no Brasil.
                    https://www.justica.gov.br/seus-direitos/refugio/conare
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h1 class="title">Coordenação Geral de imigração</h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    Regula o trabalho de imigrantes no país. https://portaldeimigracao.mj.gov.br/pt/informacoes-gerais
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h1 class="title">Migrante Web</h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    Facilita o pedido de autorização de trabalho a migrantes onine.
                    https://portaldeimigracao.mj.gov.br/pt/migranteweb
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-content>