<ion-content [fullscreen]="true" class="main-backgroud">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1 class="title">Welcome to</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img class="icon" src="../../assets/img/logo-tt.png" alt="ícone da aplicação">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="primary" class="btn" (click)="navigateTo()">ENTER</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>