<ion-header>
    <ion-toolbar>
        <ion-title>{{'restaurante' | transloco}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col size="4" *ngFor="let country of (countriesList$ | async)?.countries">
                <app-custom-image-list (click)="openUrl(country.url)" [title]="country.name | transloco" [img]="country.flag">
                </app-custom-image-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>