<ion-header>
    <ion-toolbar>
        <ion-title>Emergência</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="Ambulância pública">
                    <app-custom-link-call tel="192" text="192"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Corpo de bombeiros">
                    <app-custom-link-call tel="193" text="193"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Disk saúde">
                    Segunda a sexta (exceto feriados), aceita o SUS.
                    <app-custom-link-call tel="193" text="193"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="SUS">
                    Sistema único de saúde, é integral, universal e gratuito.
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="UBS">
                    Unidade básica de saúde, oferece consulta com um médico clinico geral.
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="UPA">
                    Unidade de pronto atendimento, aberto 24h.
                </app-section-information>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>