<ion-header>
    <ion-toolbar>
        <ion-title>{{'emergencia' | transloco}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="{{'emergencia192' | transloco}}">
                    <app-custom-link-call tel="192" text="192"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="{{'emergencia193' | transloco}}">
                    <app-custom-link-call tel="193" text="193"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="{{'emergencia136' | transloco}}">
                    <app-custom-link-call tel="136" text="136"></app-custom-link-call>
                </app-section-information>
            </ion-col>
        </ion-row>

      

        <ion-row>
            <ion-col>
                <app-section-information title="{{'emergenciaubs' | transloco}}">
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="{{'emergenciaupa' | transloco}}">
                </app-section-information>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>