<ion-header>
  <ion-toolbar>
    <ion-title>{{'educacao' | transloco}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="">
    <ion-grid>
     

      <ion-row>
        <ion-col>
          <h1 class="title">{{'educacaocatedrasergiovieirademelo' | transloco}}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          https://www.acnur.org/portugues/catedra-sergio-vieira-de-mello/
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">{{'caritasRefugiadosEscolas' | transloco}}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          http://www.caritas-rj.org.br/refugiados-nas-escolas.html
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">{{'educacaopantheoncaxias' | transloco}}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          https://pantheon.ufrj.br/handle/11422/2255
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>