<ion-header>
  <ion-toolbar>
    <ion-title>Documentos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title">Protocolo de Solicitação de Refúgio</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Identidade para os refugiados e solicitantes de refúgio, prova a situação legal no país e dá direito a expedição da CTPS. É emitido pela Polícia Federal.
          <ion-button (click)="openUrl('http://www.pf.gov.br/servicos-pf/imigracao/refugio/refugio-termo-solicitacao')" color="secondary">
            <ion-icon name="navigate-outline" ios="navigate-outline" md="navigate-outline"></ion-icon>
          </ion-button>
          
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">CTPS</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Carteira de trabalho e previdência social, é obrigatório para obter um trabalho regularizado.
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Registro nacional do estrangeiro </h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Equivalente ao RG
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Naturalização</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          O refugiado se naturaliza brasileiro após 4 anos residindo no Brasil.
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Residência permanente</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Adquirida após 4 anos residindo no Brasil.
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Visto temporário e autorização de residência para sírios </h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        Refugiados afetados pelos conflitos armados da Síria, ganham direito a autorização de residência de forma mais simplificada.
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>