<ion-header>
    <ion-toolbar>
        <ion-title>Empregos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="Necessário">
                    - CTPS
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Ministério do trabalho e emprego">
                    <app-custom-link textLink="Responsável pelos empregos no Brasil"
                        url="https://www.gov.br/trabalho/pt-br"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Escola do trabalhador e PRONATEC">
                    <app-custom-link textLink="Oferecem qualificação aos trabalhadores e combate ao desemprego"
                        url="https://pronatec.pro.br/escola-do-trabalhador/"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Algumas outras sugestões">
                    <p class="content-link">
                        <app-custom-link textLink="Trabalha Brasil" url="https://www.trabalhabrasil.com.br">
                        </app-custom-link>
                    </p>
                    <p class="content-link">
                        <app-custom-link textLink="ManpowerGroup"
                            url="https://www.manpowergroup.com.br/wps/portal/manpowergroup/br/fale-conosco">
                        </app-custom-link>
                    </p>
                    <p class="content-link">
                        <app-custom-link textLink="Toti Diversidade" url="http://totidiversidade.com.br">
                        </app-custom-link>
                    </p>
                    <p class="content-link">
                        <app-custom-link textLink="Somamos" url="http://www.somamos.net.br"></app-custom-link>
                    </p>
                </app-section-information>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>