<ion-header>
    <ion-toolbar>
        <ion-title>Comunidade</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="Agora juntas">
                    <app-custom-link
                        textLink="Fortalece as articulações coletivas e busca promover a autonomia das feministas."
                        url="https://www.facebook.com/agora.juntas"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Refoodges">
                    Refugiados envolvidos com gastronomia recebem suporte de profissionalização e inserção no mercado de
                    trabalho
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Tamo Juntas">
                    <app-custom-link textLink="Presta acessoria judicial, psicologia, social e pedagógica"
                        url="https://tamojuntas.org.br/"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>