<ion-header>
    <ion-toolbar>
        <ion-title>{{'comunidade' | transloco}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-section-information title="{{'agoraJuntasTitle' | transloco}}">
                    <app-custom-link
                        textLink="{{'fortaleceArticulacao' | transloco}}"
                        url="https://www.facebook.com/agora.juntas"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Refoodges">
                    {{'comunidaderefoodge' | transloco}}
                </app-section-information>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-section-information title="Tamo Juntas">
                    <app-custom-link textLink="{{'prestaAcessoria' | transloco}}"
                        url="https://tamojuntas.org.br/"></app-custom-link>
                </app-section-information>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>