<ion-header>
  <ion-toolbar>
    <ion-title>Comunidade</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
     

      <ion-row>
        <ion-col>
          <h1 class="title">Agora juntas</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Fortalece as articulações coletivas e busca promover a autonomia das feministas. https://www.facebook.com/agora.juntas
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Refoodges</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Refugiados envolvidos com gastronomia recebem suporte de profissionalização e inserção no mercado de trabalho
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="title">Tamo Juntas</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Presta acessoria judicial, psicologia, social e pedagógica https://tamojuntas.org.br/
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>